body {
  background-color: #E6E6FA;
}

#user-bar {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  flex-direction: row;
}

#user-bar > * {
  padding-right: 10px;
}

#user-bar > button {
  position: relative;
  top: 15px;
  height: 20px;
}

#home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home {
  margin: auto;
  max-width: 80%
}

#home > h2, p {
  text-align: center;
}
