body {
  background-color: #E6E6FA;
}

#user-bar {
  position: absolute;
  top: 20px;
  right: 100px;
  display: flex;
  flex-direction: row;
}

#user-bar > * {
  padding-right: 10px;
}

#home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home {
  margin: auto;
  max-width: 80%
}

#home > h2, p {
  text-align: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 35px;
  width: 100%;
  background-color: #d3d3f2;
  border: 1px solid black;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content > a {
  display: block;
  color: #000;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: #FFF;
  background-color: #FD3F92 ;
}

.dropdown > button {
  position: relative;
  top: 15px;
  height: 20px;
}

#navbar {
  text-align: center;
  padding-top: 20px;
}

#navbar > * {
  padding-right: 10px;
}

table, th, td {
  border: 1px solid black;
}

#stories > table {
  margin: auto;
  max-width: 70%;
  position: relative;
  top: 100px;
}

#stories > button {
  position: absolute;
  top: 125px;
  left: 50%
}

#story {
  text-align: center;
}

#story > h2 {
  text-align: center;
  margin-bottom: 0px;
  display: inline-block;
}

#story-author {
  margin-top: 0px;
}

#story-body {
  margin: auto;
  max-width: 800px;
  overflow-wrap: break-word;
}

.emotebar > button{
  border: 1px solid black;
  border-radius: 36px;
}

.emotebar > .selected{
  background-color: #FD3F92;
  border: 1px solid #FD3F92;
}

#genrelist > ul {
    display: grid;
    width: 30vh;
    margin: auto;
    grid-template-columns: 1fr 1fr;
}

#genrelist {
  margin-top: 60px;
}