<h3 style="color: #8a2be2">Welcome to The Story Tavern, <%= @user.display_name%></h3>
<br>
<p>If you need and assistance, feel free to contact the web admin as mentioned at the bottom of the home page.</p>